* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* TODO : Configure colors according to theme, create a styled scrollbar */
  /* ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #181818; 
  }
  ::-webkit-scrollbar-thumb {
    background: #302f2f; 
    border-radius: 10px;
  } */
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}